.search_app{
    display:flex;
    flex-wrap: wrap;


    .header{
        width:100%;
        display:flex;
        position: fixed;
        background: #fff;        
        border-bottom: 1px solid #ccc;
        z-index: 9;
        .logo{
            width:285px;
            display:flex;
            min-height: 65px;;
            align-items: center;
            img{
                width:90%;
                display: block;
                margin:auto;
            }
        }
        .search{
            width:calc(100% - 285px);
            padding:10px 15px;
            display:flex;
            min-height: 65px;;
            align-items: center;
        }
    }


    .main{
        width:100%;
        flex-wrap: wrap;
        min-height: calc(100vh - 170px);
        display:flex;
        background: #f5f5f5;
        flex-wrap: wrap;
        padding-top: 120px;
        padding-bottom: 50px;


        .MuiPagination-root{
            width:100%;
            display: flex;
            justify-content: center;
        }
        .inner{
            width:100%;
            padding:0 15px;
            display:flex;
            max-width: 1024px;
            margin-left:auto;
            margin-right:auto;
            position: relative;

            
            .main_list{
                width:calc(100% - 280px);
                padding:0 50px 0 0;

                article.single-event{
                    display:block;
                    margin-bottom: 30px;;
                    h3{
                        font-size:21px;
                        color: #005aaa;
                        margin:10px 0px 5px;
                        a:hover{
                            transition: 0.2s;;
                            border-bottom: 2px solid #0667bd;
                            background: none;
                            margin: 0 -2px;
                            padding: 0 2px;
                        }
                        a:visited:hover{
                            border-color: #6a1b9a;
                        }
     
                    }
                    .time{
                        margin: 10px 0;
                        font-weight: 300;
                        font-size: 15px;;
                    }
                    .excerpt{
                        font-size:16px;
                        line-height: 1.8em;;
                        font-weight: 400;
                        letter-spacing: 1px;
                        em{
                            background: linear-gradient(transparent 40%, rgba(255, 255, 255, 0) 40%, #FFF176 90%, transparent 95%);
                            /* padding: 2px 1px; */
                            font-style: normal;
                        }
                    }
                }
            }
            .filter{
                width: 250px;
                position: absolute;
                right: 0;


               .tags{ margin-bottom: 20px;; }

               // background:#eee;
               .MuiList-padding{
                   background:#fff;
               }
               .MuiListItem-gutters{
                   padding-top:5px;
                   padding-bottom: 5px;
                   padding-left:5px;
                   padding-right:5px;
               }
               .MuiListItemText-root{
                   margin-top:0;
                   margin-bottom: 0;;
               }
               .MuiCardContent-root{
                   padding:8px 8px;
                   h3{
                       padding:5px;
                       font-weight: 400;;
                       margin:0;
                       color:#000;
                   }
                   .MuiListItem-button span{
                       color:#555;
                       &:hover{
                           color:#000;
                           border-radius: 5px;;
                       }
                   }
               }
               .MuiCard-root{
                   margin-bottom:20px;
               }
               .MuiTypography-body1,
               .MuiTypography-body2{
                   font-size:15px;
               }
            }
        }
    }
}